:root{
  --light-blue: #0099d1;
  --dark-blue: #0067a7;
  --background: #f8f8ff;
  --white: #fbf9f9;
  --black: #060606;

  --text: 'Open Sans', sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--text);
  font-size: 62.5%;
}

#root{
  background-color: var(--background);
}